@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.home-title {
    width: 500px;
    height: 500px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 200px;
        top: 0px;
        font-style: italic;
    }

    50% {
        left: 200px;
        top: 200px;
        font-style: italic;
    }

    75% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}